[Unit]
Description=Control the music in your raspberry pi, from any browser in the intranet.

[Service]
Type=simple
ExecStart=/bin/bash $ROUK_HOME/rouk.sh

[Install]
WantedBy=multi-user.target