[Unit]
Description=Control the music in your raspberry pi, from any browser in the intranet.

[Service]
Type=simple
ExecStart=PYTHON/PATH $ROUK_HOME/rouk.py

[Install]
WantedBy=multi-user.target